.LoginPage {
    height: 100vh;
    background: url(http://eskipaper.com/images/dark-universe-3.jpg) no-repeat center;
    display: flex;
    align-items: center;
}

.form {
    padding: 30px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    background-color: #ccc;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.form input {
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.25);
}

.submitBtn {
    width: 100%;
    background-color: #0b3b11;
    border: 0;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.25);
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.submitBtn:hover {
    background-color: #459a49;
    text-shadow: 0 0 3px #000;
}

.toRegistration {
    text-align: center;
    margin-bottom: 0;
}

.toLogin {
    text-align: center;
    margin-bottom: 0;
}

.formError {
    color: red;
    font-size: 12px;
}