.HomePage {
    width: 100%;
    min-height: 100vh;
    background: url(https://i.imgur.com/DFQc9JF.jpg) center no-repeat / cover;
}

.storeContent{
    display: flex;
    margin-top: 5em;
}

.gameCard {
    width: 20%;
    background-color: rgba(250, 235, 215, 0.3);
    display: flex;
    flex-direction: column;
    padding: 15px;
    position: relative;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.gameCard:hover{
    background-color: rgba(250, 235, 215, 0.6);
}

.gameCard img{
    width: 80%;
    height: 150px;
    margin: 0 auto;
}

.gameName{
    font-size: 22px;
    font-weight: bold;
    text-transform: capitalize;
}

.gameDesc{
    font-size: 16px;
    text-transform: capitalize;
    padding-bottom: 15px;
}

.gamePrice{
    position: absolute;
    bottom: 0;
    font-size: 16px;
    color: #fff;
    text-shadow: 0 0 2px #000;
}

.addGameToCartBtn{
    position: absolute;
    bottom: 15px;
    right: 15px;
    text-transform: capitalize;
    background-color: transparent;
    border: 1px solid #0b3b11;
    color: #fff;
    text-shadow: 0 0 2px #000;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.addGameToCartBtn:hover{
    background-color: #0b3b11;
    box-shadow: 0 0 3px 2px #0b3b11;
}

.film{
    width: 100%;
    height: 100%;
}